<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}


    </head>
    <body>
        <header class="container-md">
            <div class="row" id="titleBar"></div>
            <nav class="navbar-brand navbar-expand-md">
                <div class="container-fluid">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="{{ path('app_home') }}">Accueil</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('articles_home') }}">Articles</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="animalDropdown" role="button" aria-expanded="false">Animaux</a>
                            <ul class="dropdown-menu" aria-labelledby="animalDropdown">
                                <li><a href="{{ path('app_race') }}">Tous</a></li>
                                {# races contain only root races (aka races where race.race is null or empty #}
                                {% for race in races %}
                                <li>
                                    {# if the current race has childrens, create a submenu #}
                                    {% if race.family.length > 0 %}
                                    <p class="dropdown-item">{{ race.name }}</p>
                                    <ul class="dropdown-menu dropdown-submenu">
                                        <li><a class="dropdown-item" href="{{ path('app_race_by_race', {slug: race.slug}) }}">Tous</a> </li>
                                        {%  for family in race.family %}
                                            <li><a class="dropdown-item" href="{{ path('app_race_by_race', {slug: family.slug}) }}">{{ family.name }}</a></li>
                                        {% endfor %}
                                    </ul>
                                    {% else %}
                                        {# if current race has no childrens, create only a link #}
                                        <a class="dropdown-item" href="{{ path('app_race_by_race', {slug: race.slug}) }}">{{ race.name }}</a>
                                    {% endif %}
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <main class="container-md">
            <div class="row">
                <div id="body" class="col-12 col-md-9 border">
                    {% block body %}Main{% endblock %}
                </div>
                <aside id="left_aside" class="col border">
                    {% block aside %}Aside{% endblock %}
                </aside>
            </div>
        </main>

        <footer class="container-md">
            Footer
        </footer>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
